{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="font-[sans-serif] overflow-x-auto">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 whitespace-nowrap">
          <tr>
            <th class="p-4 text-left text-sm font-medium text-white">
              Hình ảnh
            </th>
            <th class="p-4 text-left text-sm font-medium text-white">
              Sản phẩm
            </th>
            <th class="p-4 text-left text-sm font-medium text-white">
              Số lượng
            </th>
            <th class="p-4 text-left text-sm font-medium text-white">
              Giá
            </th>
            <th class="p-4 text-left text-sm font-medium text-white">
              Trạng thái
            </th>
          </tr>
        </thead>

        <tbody class="whitespace-nowrap">
        {% for order_product in order_products %}
          <tr class="even:bg-blue-50">
            <td class="p-4 text-sm text-black">
             <img src="{{ order_product.product.images.url }}" class="w-20 h-20 object-cover" >
            </td>
            <td class="p-4 text-sm text-black">
              {{ order_product.product.product_name}} ({% for variation in order_product.variations.all %}
  {{variation.variation_category|capfirst}}: {{ variation.variation_value|capfirst }}{% if not forloop.last %}, {% endif %}
{% endfor %})
            </td>
            <td class="p-4 text-sm text-black">
              {{ order.order_total }}
            </td>
            <td class="p-4 text-sm text-black">
              {{ order.created_at }}
            </td>
            <td class="p-4 text-sm text-black">
              {{ order.order_note }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}